body, html {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('assets/background.png');
  background-repeat: repeat;
  background-attachment: fixed;
  top: 0;
}

header {
  display: block;
  background-color: black;
  width: 100%;
  height: 50px;
  color: white;
}

#headerButtons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navButton {
  float: right;
}

footer {
  display: block;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
}